@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap");

:root {
  --rosa: #e42c64;
  --roxo: #8134af;
  --claro: #f2317f;
}
.bg {
  background: #141e30;
  background: linear-gradient(to top, #0e1421, #17283a);
}
* {
  font-family: "Prompt", sans-serif;
  padding: 0px;
  margin: 0px;
}
html {
  /* 1 – Geral */
  height: 100%;
}
main,
body {
  /* 2 – Interna contendo conteúdo/footer */
  min-height: 100%;
  position: relative;
}

footer {
  /* 3 – Footer */
  border-top: 1px solid var(--rosa);
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}
